* {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica;
  background-image: url('images/Background.png');
}

hr {
  width: 100%;
  color: black;
}

h1 {
  font-family: arial;
}

h2 {
  font-family: arial; 
}

h3 {
  font-family:"Monaco";
}

h4 {
  font-family: arial;
  background: lime;
}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%
}

tr.character {
  font-family: arial;
  background-color: cyan;
  border-collapse: separate;
  border-spacing: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sans {
  font-family: Comic Sans MS;
  color: white;
  background: black;
  text-align: left;
}

.papyrus {
  font-family: Papyrus;
  color: white;
  background: black;
  text-align: left;
}

.undertale {
  font-family: Consolas;
  color: white;
  background: black;
  text-align: left;
}

.characters {
  position: absolute;
  top: 30px;
  left: 130px;
}

.headerlinks:hover {
  filter: brightness(150%);
}

#foot {
  position: relative;
  float: bottom;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
}

#container {  
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: hidden;
}

#container div {
  float: left;
  background-color: #c1eefe;
  border: 1px solid #0047ff;
  font-weight: bold;
  width: 25%;
  font-size: 200%;
  text-align: center;
}
