html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica;
}
hr {
  width: 200%;
  color: black;
}
h1 {
  font-family: arial;
}
h2 {
  font-family: arial; 
}

h3 {
  font-family:"Monaco";
}

h4 {
  font-family: arial;
  background: lime;
}

li {
  text-align: center;
}
